html {
    height: 100%;    
}

body {
    background-color: #333;
    color: #fff;
    height: 100%;
}

#splash {
    text-align: center;
}

#app {
    height: 100%;
    margin: auto;
    width: 720px;
}

#menu {
    background-color: #555;
    display: inline-block;
    height: 100%;
    position: fixed;
    top: 0;
}

#header {
    background-color: #111;
    position: fixed;
    top: 0;
}

.pure-menu-heading, #menu .pure-menu-link {
    color: #fff;
}

#menu .pure-menu-link:hover, #menu .pure-menu-link:focus {
    background-color: coral;
}

#canvas {
    background-color: #fff;
    border: solid 1px #111;
}

.grid-on {
    stroke: #111;
    stroke-width: 1px;
}

.toolbar {
    padding: 16px 0 0;
}

.toolbar button {
    background-color: #333;
    border: solid 1px coral;
    color: coral;
    padding: 8px;
    vertical-align: top;
}

.toolbar .toolbar-btn-on {
    background-color: coral;
    color: white;
}

#color-picker {
    border: solid 1px #555;
    float: right;
}

#color-picker rect {
    stroke: #555;
    stroke-width: 1;
}

#color-picker .selected {
    stroke-width: 4;
}

/* Padding that takes the #shell into account. */
.shell-pad {
    padding: 70px 0 0;
}

/* Override animate.css animation duration. */
.animated {
    -webkit-animation-duration: 0.08s;
    animation-duration: 0.08s;
}
